@page "/product/add"

<div class="jumbotron jumbotron-fluid bg-secondary bg-opacity-10">
    <div class="container">
        <h1 class="display-4">Add</h1>
        <p class="lead">Add new product.</p>
    </div>
</div>
<RadzenTemplateForm TItem="Models.Product" Data=@Product Submit=@Submit InvalidSubmit="@InvalidSubmit" class="p-3">
    <ProductComponent Categories="Categories" Name="" Model="Product" Text="Add product"></ProductComponent>
</RadzenTemplateForm>

@code {
   

}
