@page "/products"


<div class="jumbotron jumbotron-fluid bg-secondary bg-opacity-10">
    <div class="container">
        <h1 class="display-4">Products</h1>
        <p class="lead">List of products.</p>
    </div>
</div>
@if (Products is not null)
{
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" Gap="1rem" Wrap="FlexWrap.Wrap">
        <RadzenButton Click="AddProduct" Text="Add product" Icon="note_add"/>
        <RadzenButton Click="UpdateProduct" Text="Edit product" Icon="edit" />
        <RadzenButton Click="DeleteProduct" Text="Delete product" Icon="delete_forever"/>
    </RadzenStack>
    <br />
    <RadzenDataGrid Style="white-space:pre-wrap!important" @ref="grid" Culture="hr" SelectionMode="DataGridSelectionMode.Single" AllowGrouping="true" AllowSorting="true" Data="@Products" TItem="Models.Product" AllowPaging="true" PageSize="10" AllowFiltering="true" FilterMode="FilterMode.Simple" LogicalFilterOperator="LogicalFilterOperator.Or" @bind-Value=@selected AllowColumnResize=true ColumnWidth="100px">
        <Columns>
            <RadzenDataGridColumn TItem="Models.Product" Property="Id" Title="Id" Sortable="true" Filterable="false" Frozen=true Width="50px"/>
            <RadzenDataGridColumn TItem="Models.Product" Property="Name" Title="Name" Sortable="true" />
            <RadzenDataGridColumn TItem="Models.Product" Property="Author" Title="Author" Sortable="true" />
            <RadzenDataGridColumn TItem="Models.Product" Property="Category.Name" Title="Category" Sortable="true" />
            <RadzenDataGridColumn TItem="Models.Product" Property="Publisher" Title="Publisher" Sortable="true" />
            <RadzenDataGridColumn TItem="Models.Product" Property="PublishingYear" Title="Publishing Year" Sortable="true" />
            <RadzenDataGridColumn TItem="Models.Product" Property="Price" Title="Price" Sortable="true">
                <Template Context="Products">
                    @string.Format(hr,"{0:C}",Products.Price)
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Models.Product" Property="QuantityInStock" Title="Quantity in Stock" Sortable="true" />
            <RadzenDataGridColumn TItem="Models.Product" Property="Image" Title="Image" Filterable=false>
                <Template Context="Products">
                    <RadzenStack AlignItems="AlignItems.Center">
                        @if (Products.Image is not null){
                        <RadzenImage class="img-thumbnail" style="width:100px;"  Path="@Products.Image" />
                        }
                    </RadzenStack>
                </Template>
            </RadzenDataGridColumn>
            
        </Columns>
    </RadzenDataGrid>


}
else
{
    <RadzenStack AlignItems="AlignItems.Center" Class="rz-m-12">
        <RadzenProgressBarCircular ShowValue="true" Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.Large">
            <Template>Loading...</Template>
        </RadzenProgressBarCircular>
    </RadzenStack>
    
}


@code {
   
}
