
<RadzenFieldset Text=@Text>
    <div class="row mb-5">
        <div class="col-md-4">
            <RadzenLabel Text="Name" />
        </div>
        <div class="col">
            <RadzenTextBox style="display: block" Name="Name" @bind-Value=@Model.Name class="w-100" />
            <RadzenRequiredValidator Component="Name" Text="Name is required" Popup=true Style="position: absolute" />
            <RadzenCustomValidator Component="Name" Validator="@(()=>NameValidator(Model.Name))" Text="Name already exists" />
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-4">
            <RadzenLabel Text="Display order" />
        </div>
        <div class="col">
            <RadzenNumeric style="display: block" Name="DisplayOrder" @bind-Value=@Model.DisplayOrder class="w-100" />
            <RadzenRequiredValidator Component="DisplayOrder" Text="Display order is required" Popup=true Style="position: absolute" />
            <RadzenCustomValidator Component="DisplayOrder" Validator="@(()=>DisplayOrderValidator(Model.DisplayOrder))" Text="Display order already exists" />
        </div>
    </div>
    <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Text="Submit" Icon="task_alt"></RadzenButton>
    <RadzenButton Text="Cancel" Click="Cancel" ButtonStyle="ButtonStyle.Danger" Icon="highlight_off"></RadzenButton>
</RadzenFieldset>

@code {
    
}
