@page "/categories"
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="jumbotron jumbotron-fluid bg-secondary bg-opacity-10">
    <div class="container">
        <h1 class="display-4">Categories</h1>
        <p class="lead">List of categories.</p>
    </div>
</div>

@if (Categories is not null)
{
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" Gap="1rem" Wrap="FlexWrap.Wrap">
        <RadzenButton Click="Details" Text="Details" Icon="info_outline"/>
        <AuthorizeView Roles="Admin">
            <RadzenButton Click="AddCategory" Text="Add category" Icon="note_add" />
            <RadzenButton Click="UpdateCategory" Text="Edit category" Icon="edit" />
            <RadzenButton Click="DeleteCategory" Text="Delete category" Icon="delete_forever" />
        </AuthorizeView>
        
    </RadzenStack>
    <br />
    <RadzenDataGrid @ref="grid" SelectionMode="DataGridSelectionMode.Single" AllowGrouping="true" AllowSorting="true" Data="@Categories" TItem="Models.Category" AllowPaging="true" PageSize="10" AllowFiltering="true" FilterMode="FilterMode.Simple" LogicalFilterOperator="LogicalFilterOperator.Or" @bind-Value=@selected>
        <Columns>
            <RadzenDataGridColumn TItem="Models.Category" Property="Id" Title="Category Id" Sortable="true" Filterable="false" />
            <RadzenDataGridColumn TItem="Models.Category" Property="Name" Title="Category Name" Sortable="true" />
            <RadzenDataGridColumn TItem="Models.Category" Property="DisplayOrder" Title="Category Order" Sortable="true" Filterable="false" />
        </Columns>
    </RadzenDataGrid>


}
else
{
    <RadzenStack AlignItems="AlignItems.Center" Class="rz-m-12">
        <RadzenProgressBarCircular ShowValue="true" Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.Large">
            <Template>Loading...</Template>
        </RadzenProgressBarCircular>
    </RadzenStack>
}


@code {
    

}
