@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<div class="jumbotron jumbotron-fluid bg-secondary bg-opacity-10">
    <div class="container">
        <h1 class="display-4">Manage account.</h1>
        <p class="lead">Change account settings.</p>
    </div>
</div>
<div>
    <div class="row">
        <div class="row">
            <div class="col-12 text-center" style="display:flex;">
                <partial name="_ManageNav" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-12">
            </div>
            <div class="col-12 col-md-6 text-center">
                @RenderBody()
            </div>
            <div class="col-md-3 col-12">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
