@inject SignInManager<BookShopWebUser> SignInManager
<ul class="nav nav-pills flex-row text-center m-auto" style="display:flex;">
    <li class="nav-item"><a class="nav-link manage-nav-item @ManageNavPages.IndexNavClass(ViewContext)" id="profile" href=@($"account/{ViewData["User"]}")>Profile</a></li>
    <li class="nav-item"><a class="nav-link manage-nav-item @ManageNavPages.EmailNavClass(ViewContext)" id="email" href=@($"email/{ViewData["User"]}")>Email</a></li>
    <li class="nav-item"><a class="nav-link manage-nav-item @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" href="@($"password/{ViewData["User"]}")">Password</a></li>
</ul>
