@inherits LayoutComponentBase

<PageTitle>BookShop.Web</PageTitle>

<div class="main">
    <header>
        <NavMenu/>
    </header>
    @if (Body is not null)
    {
        <div class="content p-3">
            @Body
        </div>
    }
    
</div>

<RadzenContextMenu />
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />