@inherits LayoutComponentBase

<PageTitle>BookShop.Web</PageTitle>

<div class="main">
    <header>
        <NavMenu/>
    </header>
    <div class="content p-3">
        @Body
    </div>
</div>

<RadzenContextMenu />
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />