@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager


<div class="ps-3 navbar navbar-expand-sm navbar-light bg-secondary bg-opacity-10">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Book Shop</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse" @onclick="ToggleNavMenu">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/categories">Categories</a>
            </div>
            <CascadingAuthenticationState>
                <AuthorizeView Roles="Admin">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/products">Products</a>
                    </div>
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/users">Users</a>
                    </div>
                </AuthorizeView>
            </CascadingAuthenticationState>
            
            <div class="container-fluid"></div>
            @if (LogedIn.User.Identity.IsAuthenticated)
            {
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/logout">Logout</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-item nav-link" style="white-space:nowrap;" href="/account">Welcome <b>@LogedIn.User.Identity.Name</b>!</a>
                </div>
                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Click="GoToCart" Icon="shopping_cart"></RadzenButton>
            }
            else
            {
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/login">Login</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/register">Register</a>
                </div>
            }
            
            
        </div>
    </div>
    
</div>

@code {
    public AuthenticationState? LogedIn { get; set; }
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    protected override async Task OnInitializedAsync()
    {
        LogedIn = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        await base.OnInitializedAsync();
    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void GoToCart()
    {
        NavigationManager.NavigateTo("/cart", true);
    }
}
